.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
}

.headerImage {
  width: 70px / 2;
  height: 87.5px / 2;
}

.name {
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}