$label-colour: #4d4d4d;
$disabled-colour: #ddd;
$toggle-colour: #2f855a;
$white: #fff;

.switch {
  width: 70px;
  height: 35px;
  background-color: $label-colour;
  display: flex;
  justify-content: flex-start;
  border-radius: 35px;
  padding: 5px;
  cursor: pointer;
  margin: 0 10px 0 5px;
  align-items: center;

  &[data-innavbar='true'] {
    @media (max-width: 374px) {
      display: none;
    }
  }
  &[data-innavbar='false'] {
    @media (min-width: 375px) {
      display: none;
    }
  }

  &[data-enabled='true'] {
    justify-content: flex-end;
    &:before {
      content: attr(data-on);
      font-size: 22px;
      margin-right: 10px;
      line-height: 20px;
    }
  }

  &[data-enabled='false'] {
    &:after {
      content: attr(data-off);
      font-size: 22px;
      margin-left: 10px;
      line-height: 20px;
    }
  }

  .handle {
    width: 25px;
    height: 25px;
    background-color: $white;
    border-radius: 50%;
  }
}
