.symbolWrapper {
  flex: 1;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.stockInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.stockPrice {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: flex-end;
}
.positive {
  color: #0cce6b;
}
.negative {
  color: #FD1050;
}