.symbolWrapper {
  flex: 1;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.stockInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.stockPrice {
  display: flex;
  flex: 0.4;
  flex-direction: column;
  align-items: flex-end;
}
.positive {
  color: #4DBD33;
}
.negative {
  color: #FD1050;
}