html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
